@font-face {
    font-family: Ergonomique1;
    src: local('Ergonomique-Semibold.otf'), url('Ergonomique-Semibold.otf');

} .header-top{
   width: 100%;
   height: 123px;
   align-content: center;
   margin: auto;


} .head-main {
    height: 123px;
    margin: auto;
    width: 423px;
    text-align: center;
} .head-main h1 {

    width: 422;
    margin: auto;
    color: rgb(39, 139, 55);
    font: normal 48pt Ergonomique1;
    position: relative;
    top: 20px;


} .nav-wrapper {
    background-color: rgb(0, 85, 14); 
    align-items: center;

} .inicio{
    font: normal 18px Ergonomique1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    left: 50px;
    position: relative;
    overflow: hidden;

}   .nav-wrapper ul li a {
    font: normal 18px Ergonomique1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 25px;
    position: relative;
    

} .side-nav {
    background-color: rgb(14, 17, 14);
    

} ul.side-nav li:hover a {
   color: rgb(255, 241, 41);
   transition: all .1s;
   

} .caixa {
    width: 100%;
    background-color: rgb(0, 85, 14); 
    overflow: hidden;

} .caixa img {
    width: 100%;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
} .caixa:hover img {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

} .labelp {
    width: 100%;
    
    height: 70px;
    position: absolute;
    top: 186px;
    line-height: 30px;
    height: 30px;
    align-items: center;
    margin: auto;
   

}  .trecho1 {
    width: 100%;
    height: 65px;
    background-color: rgb(0, 85, 14); 
} .trecho {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 85, 14); 
    

} #sec {
    width: 100%;
    overflow: auto;
    height: calc();
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 56, 12);
    border-left-color: white;
    border-right-color: white;
    align-content: center;
    
    
} .hide-on-med-and-down li:hover a {
    color: rgb(255, 187, 0);
    transition: all .1s;


}  .caixas_1 {
    min-width: 320px;
    width: 440px;
    float: left;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    left: calc(100% - 85%);
    height: calc();
    


} .caixas_1 .foto {
    width: 70vh;
    border-radius: 15px;
    display: flex;
    
    
    


}  .caixas_2 {
    width: 440px;
    float: right;
    
    

} .caixas_2, p {

    font: normal 20pt Calibri;
    width: 70vh;
    


} .topico{
    margin-left: 10px;
    font: bold 52pt Calibri;
    color: rgb(63, 30, 14);
    width: 70vh;
} .iframes{
    width: 100%;
    text-align: center;
    background-color: rgb(0, 85, 14); ;
} .iframes iframe{
    width: 100%;
    margin-bottom: 0%;
} h2, #caminho {
    color: white;
    margin-top: 0%;
    font: normal 40pt Calibri;
} .rodape_1 {

    width: 100%;
    height: 1px;
    background-color: rgb(255, 251, 0);
} .rodp{
    width: 100%;
    background-color: rgb(255, 145, 0);
    max-height: calc(100%);
    text-align: center;
    

} .principals{

    background-color: rgb(255, 145, 0);
    border-radius: 7px;
    height: auto;
    width: 350px;
    text-align: left;
    margin-bottom: 7%;
    position: relative;
    top: 30px;
    display:inline-block;
    margin-right: 100px;
    left: 60px;

} .h2_rodape {

    color:rgb(71, 71, 71);
    font: bold 22pt Calibri;
    position: relative;
    left: 30px;
    


} #t {
    font-size: 14pt;
    color:rgb(0, 0, 0); 
    margin-top: 20px;

} #t2 {
    font-size: 14pt;
    color:rgb(3, 3, 3);
    margin-top: -10px;

} #t2 a {
   
    color: rgb(255, 255, 255);

} #t2:hover a {

    color: rgb(55, 0, 107);;
    transition: all .1s;
}
    
    